<div id="<%= dom_id feedback %>">
  <p>
    <strong>Date:</strong>
    <%= feedback.date %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= feedback.body %>
  </p>

  <p>
    <strong>Happy:</strong>
    <%= feedback.happy %>
  </p>

</div>
