<h1>Add your feedback</h1>

<p>We are always striving to improve our nursery. To help us, we'd love to know what you think.</p>
<p>Leave us a message using the form below. <strong>All responses are completely anonymous—we do not collect any personal data.</strong></p>

<%= render "form", feedback: @feedback %>

<br>

<div>
  <% link_to "Back to feedbacks", feedbacks_path %>
</div>
