/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap');

body {
    font-family: "Raleway", sans-serif;
    background-color: #eaeae1;
}
.container {
    margin-top: 2%;
}
nav {
    padding: 0 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.navbar-light .navbar-nav .nav-link {
    color: #e73e33;
    font-weight: 600;
}
button.nav-link {
    color: #ffffff;
    border-radius: 30px;
    border: 1px solid #e73e33 ;
}
button.nav-link a {
    color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
    color: #3e3e2a;
    font-weight: 600;
}
h1 {
    font-size: 1.8em
}
p {
    font-size: 1.2em;
}
a {
    color: #e73e33;
    font-weight: 600;
}
.form-card-wrapper {
    width: 42em;
    margin: 5% auto;
}
.card-wrapper {
    width: 60em;
    margin: 5% auto;
}
.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #d1d1c0;
    border: 0px;
}
table {
    background-color: #fafafa;
}
.btn-primary {
    background-color: #e73e33;
    border: 0px;
    font-weight: 600;
}
.btn-primary:hover {
    background-color: #cc372c;
}
.btn-secondary {
    background-color: #64878b;
    border: 0px;
    font-weight: 600;
}
.btn-secondary:hover {
    background-color: #4a6669;
}
textarea {
    height: 100px;
}
select {
    height: 50px;
    border: 0px;
    border-radius: 5px;
}
textarea, select, .form-control {
    margin-bottom: 20px;
}
label {
    font-weight: 600;
}